.front-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    padding-right: 1px;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
  }
  
  .modal {
    background-color: white;
    width: 100%;
    height: 30vh;
    margin-top: 75vh;
    border-radius: 5vw;
  }
  