.App {
  width: 97vw;
}

.body{
  height: calc(var(--vh, 1vh) * 100);
}
:root{
  --vh:100%;
}
.MainBody{
  max-width: 96vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vw;
  margin-bottom: 5vh;
  background-color: #f9f9f9;
  justify-content: center;
}
.Detail1Body{
  max-width: 96vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vw;
  background-color: #f9f9f9;
}
