.App {
  text-align: center;
  background-color: black;
}

.body{
  height: calc(var(--vh, 1vh) * 100);
}
:root{
  --vh:100%;
}
.MainBody{
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: white;
}
.Detail1Body{
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: white;
}
