html,
body,
#root {
  max-width: 768px;
  max-height: 1280px;
  margin: auto;
};

*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Firefox에 대한 스크롤바 숨김 */
* {
  scrollbar-width: none;
}

/* IE 및 Edge에 대한 스크롤바 숨김 */
* {
  -ms-overflow-style: none;
}